<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список товаров</title>
</head>
// пользователь не пошел в систему
<body>
<h3>Доступные товары</h3>
<div th:each="product : ${products}">

    <img th:src="'/img/' + ${product.imageList[0].getFileName()}">
    <br>
    <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}" id="title" />
    <p th:text="'Цена: ' + ${product.getPrice()}" />
</div>
</body>
</html>