<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Администрирование</title>
</head>
<body>

<!--<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <p class="navbar-brand"><h1>Rept</h1> интернет-магазин экзотических животных</p>
        <div class="d-flex">
            <div style="margin-right: 10px; border-radius: 5px;" class="btn">
                <form th:method="POST" th:action="@{/logout}">
                    <input type="submit" value="Выйти из личного кабинета">
                </form>
            </div>
        </div>
    </div>
</nav>

<div class="h3" style="text-align: center;">Личный кабинет администратора</div>-->

<!--<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Выйти из личного кабинета">
</form>-->

<!--<ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
    <li class="list-group-item">A fourth item</li>
    <li class="list-group-item">And a fifth one</li>
</ul>-->

<a href="/admin/product/add">Добавить товар</a>
<h3>Каталог товаров:</h3>
<hr>
<div th:each="product : ${products}">
    <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">
    <p th:text="'Наименование: ' + ${product.getTitle()}" />
    <p th:text="'Описание: ' + ${product.getDescription()}" />
    <p th:text="'Цена: ' + ${product.getPrice()}" />
    <p th:text="'Поставщик: ' + ${product.getProvider()}" />
    <p th:text="'Категория товара:' + ${product.getCategory().getName()}" />
    <br>
    <a th:href="@{/admin/product/edit/{id}(id=${product.getId()})}">Редактировать товар</a>
    <a th:href="@{/admin/product/delete/{id}(id=${product.getId()})}">Удалить товар</a>
</div>
</body>
</html>