<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
</head>
<body>
<h3>Личный кабинет пользователя</h3>
<form method="post" th:action="@{/logout}">
    <input type="submit" value="Выйти из личного кабинета">
</form>

<form method="get" th:action="@{/cart}">
    <input type="submit" value="Корзина">
</form>

<form method="get" th:action="@{/orders}">
    <input type="submit" value="Заказы">
</form>

<form th:method="POST" th:action="@{/product/search}">
    <fieldset>
        <legend>Выберите параметры для сортировки, поиска и фильтрации</legend>
        <br>
        <label for="search">Поиск по наивенованию</label>
        <input type="search" id="search">
        <p>Цена, Руб.</p>
        <br>
        <label for="min">От</label>
        <input type="text" name="min" id="min">
        <label for="max">До</label>
        <input type="text" name="max" id="max">

        <br><br>
        <label for="ascending_price">Отсортировать по возрастанию цены</label>
        <input type="radio" id="ascending_price" name="price">
        <br>
        <label for="descending_price">Отсортировать по убыванию цены</label>
        <input type="radio" id="descending_price" name="price">

        <br><br>
        <p>Категория товаров</p>
        <!--     сделать выпадающий список-->

        <input type="radio" id="animal" name="category" value="furniture">
        <label for="animal">Животные</label><br>

        <br>
        <button type="submit">Найти</button>
    </fieldset>
</form>

<h3>Доступные товары</h3>
<hr>
<div th:each="product : ${products}">

    <img th:src="'/img/' + ${product.imageList[0].getFileName()}">
    <br>
    <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}" id="title" />
    <p th:text="'Цена: ' + ${product.getPrice()}" />
    <a th:href="@{/cart/add/{id}(id=${product.getId()})}">Добавить товар в козрину</a>
    <hr>
</div>
</body>
</html>