<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>История заказов</title>
</head>
<body>
<h3>Заказы</h3>
<div th:each="order : ${orders}">

    <h3 th:text="'Заказ №' + ${order.getNumber()}"></h3>
    <img th:src="'/img/' + ${order.getProduct().imageList[0].getFileName()}">
    <br>
    <p th:text="'Наименование: ' + ${order.getProduct().getTitle()}" />
    <p th:text="'Количество: ' + ${order.getCount()}" />
    <p th:text="'Цена: ' + ${order.getPrice()}" />
    <p th:text="'Дата заказа: ' + ${#temporals.format(order.getDateTime(), 'dd-MMM-yyyy')}" />
    <p th:text="'Статус: ' + ${order.getStatus()}" />
    <hr>
</div>
</body>
</html>